// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$font-secondary: 'Indie Flower', cursive;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// blog color palette
$background-light: #FEF9DC;
$border-header-dark: #FCD949;
$background-header-light: #FFEFA9;
$color-primary: #44813E;
$color-secondary: #92C24C;
