@import url(https://fonts.googleapis.com/css2?family=Satisfy&display=swap);@import url(https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;

0,500;1,400;1,500&display=swap);/*
    ASSETS
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 
    TYPO
*/

body {
  background-color: #FEF9DC;
  font-family: "Playfair Display", serif;
  font-size: 1.25rem;
}

h1 {
  font-family: "Satisfy", cursive;
  color: #4C0805;
}

h4 {
  font-family: "Satisfy", cursive;
  font-size: 1.875rem;
  color: #44813E;
}

ul {
  list-style: none;
}

a,
li {
  text-decoration: none;
}

a:visited {
  color: #DC9C45;
}

/*
    CONTAINERS
*/

.container {
  width: 80%;
  max-width: 75rem;
  margin: 1.25rem auto;
}

